
.quoty {
    position: absolute;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0
}

.quoty-inner {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(49, 49, 47, 0.99), #262625);
    background-repeat: repeat-x;
    border-radius: 5px;
    padding: 6px;
}

.quoty-inner button {
  border: none;
  color: #FFF;
  margin: 0 4px;
  position: relative;
  padding: 16px;
  top: -3px;
}

.quoty-inner button.google-plus {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTc5LjcgMjM3LjZMMTc5LjcgMjg0LjIgMjU2LjcgMjg0LjJDMjUzLjYgMzA0LjIgMjMzLjQgMzQyLjkgMTc5LjcgMzQyLjkgMTMzLjQgMzQyLjkgOTUuNiAzMDQuNCA5NS42IDI1NyA5NS42IDIwOS42IDEzMy40IDE3MS4xIDE3OS43IDE3MS4xIDIwNi4xIDE3MS4xIDIyMy43IDE4Mi40IDIzMy44IDE5Mi4xTDI3MC42IDE1Ni42QzI0NyAxMzQuNCAyMTYuNCAxMjEgMTc5LjcgMTIxIDEwNC43IDEyMSA0NCAxODEuOCA0NCAyNTcgNDQgMzMyLjIgMTA0LjcgMzkzIDE3OS43IDM5MyAyNTggMzkzIDMxMCAzMzcuOCAzMTAgMjYwLjEgMzEwIDI1MS4yIDMwOSAyNDQuNCAzMDcuOSAyMzcuNkwxNzkuNyAyMzcuNiAxNzkuNyAyMzcuNlpNNDY4IDIzNi43TDQyOS4zIDIzNi43IDQyOS4zIDE5OCAzOTAuNyAxOTggMzkwLjcgMjM2LjcgMzUyIDIzNi43IDM1MiAyNzUuMyAzOTAuNyAyNzUuMyAzOTAuNyAzMTQgNDI5LjMgMzE0IDQyOS4zIDI3NS4zIDQ2OCAyNzUuMyIvPjwvc3ZnPg==') no-repeat;
}
.quoty-inner button.facebook {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjExLjkgMTk3LjRoLTM2Ljd2NTkuOWgzNi43VjQzMy4xaDcwLjVWMjU2LjVoNDkuMmw1LjItNTkuMWgtNTQuNGMwIDAgMC0yMi4xIDAtMzMuNyAwLTEzLjkgMi44LTE5LjUgMTYuMy0xOS41IDEwLjkgMCAzOC4yIDAgMzguMiAwVjgyLjljMCAwLTQwLjIgMC00OC44IDAgLTUyLjUgMC03Ni4xIDIzLjEtNzYuMSA2Ny4zQzIxMS45IDE4OC44IDIxMS45IDE5Ny40IDIxMS45IDE5Ny40eiIvPjwvc3ZnPg==') no-repeat;
}
.quoty-inner button.linkedin {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTg2LjQgMTQyLjRjMCAxOS0xNS4zIDM0LjUtMzQuMiAzNC41IC0xOC45IDAtMzQuMi0xNS40LTM0LjItMzQuNSAwLTE5IDE1LjMtMzQuNSAzNC4yLTM0LjVDMTcxLjEgMTA3LjkgMTg2LjQgMTIzLjQgMTg2LjQgMTQyLjR6TTE4MS40IDIwMS4zaC01Ny44VjM4OC4xaDU3LjhWMjAxLjN6TTI3My44IDIwMS4zaC01NS40VjM4OC4xaDU1LjRjMCAwIDAtNjkuMyAwLTk4IDAtMjYuMyAxMi4xLTQxLjkgMzUuMi00MS45IDIxLjMgMCAzMS41IDE1IDMxLjUgNDEuOSAwIDI2LjkgMCA5OCAwIDk4aDU3LjVjMCAwIDAtNjguMiAwLTExOC4zIDAtNTAtMjguMy03NC4yLTY4LTc0LjIgLTM5LjYgMC01Ni4zIDMwLjktNTYuMyAzMC45di0yNS4ySDI3My44eiIvPjwvc3ZnPg==') no-repeat;
}
.quoty-inner button.pinterest {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjY2LjYgNzYuNWMtMTAwLjIgMC0xNTAuNyA3MS44LTE1MC43IDEzMS43IDAgMzYuMyAxMy43IDY4LjUgNDMuMiA4MC42IDQuOCAyIDkuMiAwLjEgMTAuNi01LjMgMS0zLjcgMy4zLTEzIDQuMy0xNi45IDEuNC01LjMgMC45LTcuMS0zLTExLjggLTguNS0xMC0xMy45LTIzLTEzLjktNDEuMyAwLTUzLjMgMzkuOS0xMDEgMTAzLjgtMTAxIDU2LjYgMCA4Ny43IDM0LjYgODcuNyA4MC44IDAgNjAuOC0yNi45IDExMi4xLTY2LjggMTEyLjEgLTIyLjEgMC0zOC42LTE4LjItMzMuMy00MC42IDYuMy0yNi43IDE4LjYtNTUuNSAxOC42LTc0LjggMC0xNy4zLTkuMy0zMS43LTI4LjQtMzEuNyAtMjIuNSAwLTQwLjcgMjMuMy00MC43IDU0LjYgMCAxOS45IDYuNyAzMy40IDYuNyAzMy40cy0yMy4xIDk3LjgtMjcuMSAxMTQuOWMtOC4xIDM0LjEtMS4yIDc1LjktMC42IDgwLjEgMC4zIDIuNSAzLjYgMy4xIDUgMS4yIDIuMS0yLjcgMjguOS0zNS45IDM4LjEtNjkgMi42LTkuNCAxNC44LTU4IDE0LjgtNTggNy4zIDE0IDI4LjcgMjYuMyA1MS41IDI2LjMgNjcuOCAwIDExMy44LTYxLjggMTEzLjgtMTQ0LjVDNDAwLjEgMTM0LjcgMzQ3LjEgNzYuNSAyNjYuNiA3Ni41eiIvPjwvc3ZnPg==') no-repeat;
}
.quoty-inner button.twitter {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjRkZGIiBkPSJNNDE5LjYgMTY4LjZjLTExLjcgNS4yLTI0LjIgOC43LTM3LjQgMTAuMiAxMy40LTguMSAyMy44LTIwLjggMjguNi0zNiAtMTIuNiA3LjUtMjYuNSAxMi45LTQxLjMgMTUuOCAtMTEuOS0xMi42LTI4LjgtMjAuNi00Ny41LTIwLjYgLTQyIDAtNzIuOSAzOS4yLTYzLjQgNzkuOSAtNTQuMS0yLjctMTAyLjEtMjguNi0xMzQuMi02OCAtMTcgMjkuMi04LjggNjcuNSAyMC4xIDg2LjkgLTEwLjctMC4zLTIwLjctMy4zLTI5LjUtOC4xIC0wLjcgMzAuMiAyMC45IDU4LjQgNTIuMiA2NC42IC05LjIgMi41LTE5LjIgMy4xLTI5LjQgMS4xIDguMyAyNS45IDMyLjMgNDQuNyA2MC44IDQ1LjIgLTI3LjQgMjEuNC02MS44IDMxLTk2LjQgMjcgMjguOCAxOC41IDYzIDI5LjIgOTkuOCAyOS4yIDEyMC44IDAgMTg5LjEtMTAyLjEgMTg1LTE5My42QzM5OS45IDE5My4xIDQxMC45IDE4MS43IDQxOS42IDE2OC42eiIvPjwvc3ZnPg==') no-repeat;
}

.quoty .separator {
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
}
.quoty .quoty-arrowClip {
    position: absolute;
    bottom: -10px;
    left: 50%;
    clip: rect(10px 20px 20px 0);
    margin-left: -10px
}
.quoty .quoty-arrowClip .quoty-arrow {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #262625;
    -webkit-transform: rotate(45deg) scale(.5);
    -ms-transform: rotate(45deg) scale(.5);
    transform: rotate(45deg) scale(.5)
}
.highlight_menu_animate {
  transition: top 75ms ease-out,left 75ms ease-out;
}
